__pycache__/
*.pyc
.venv/
venv/
.env

# Local dataset files - do not upload
data/*.csv
data/*.zip

# Python cache files
__pycache__/
*.pyc
# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Raw dataset
data/PhiUSIIL_Phishing_URL_Dataset.csv

# Generated dataset
data/processed_features.csv
